table, th, td {
    border: 1px solid;
}

th, td {
    padding: 1px 5px;
    border-top-width: 0;
    border-left-width: 0;
}

th:last-child,
td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}

.result tr td{
    height: 30px;
}

.flex {
    display: flex;  
}

.days, .times {
    width: 120px;
}

